# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Data Files (Keep these out if they get large)
*.csv
*.xlsx

# Environment & Credentials
.env
.venv/
env/
venv/

# OS Specific
.DS_Store
Thumbs.db

# IDE Specific
.vscode/
.idea/

# Large Data & Media
*.png
*.parquet
*.duckdb

# Allow this specific image
!docs/image.png
!docs/image-1.png
!docs/image-2.png
!docs/image-3.png
!docs/performance_comparison.png
!image.png
